.post-preview {
  .image {
    display: block;
    height: 180px;
    border-radius: 3px;
    margin-right: 20px;
    background-image: url(https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;

    &:hover {
      opacity: 0.8;
    }
  }

  @media screen and (max-width: 768px) {
    .image {
      margin-right: 0;
    }
  }

  .title {
    transition: opacity 200ms ease;
    color: #333;
    text-decoration: none;
    max-width: 100%;
    display: inline-block;

    &:hover {
      opacity: 0.8;
    }

    h2 {
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 22px;
      line-height: 26px;
      font-weight: 400;
    }
  }

  .meta {
    display: flex;
    margin: 8px 0;

    * {
      display: inline-block;
      color: #aaa;
      font-size: 10px;
      line-height: 18px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    & > * + * {
      margin-left: 8px;
    }

    a:hover {
      color: #333;
    }

    .categories {
      span {
        margin-right: 5px;
      }
    }
  }

  .content {
    p {
      display: inline;
      color: #aaa;
      font-size: 14px;
      line-height: 22px;
      margin-right: 8px;
    }

    a {
      text-decoration: underline;
    }
  }
}
