
@import url(https://fonts.googleapis.com/css?family=Abel);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Special+Elite);

body, header, p, h1, h2, h3, div, span, img {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}

p {
	font-size: 16px;
}

body {
	background-color: white;
	background-image: url('img/background/layer-1-sky.png');
	background-size: 100%;
	background-repeat: no-repeat;
	height: 100%;
	position: relative;
}

#content {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	/*background-color: #e6e6e6;*/
	background-color: white;
	opacity: 0.9;
	margin-bottom: 15px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.pointer {
	cursor: pointer;
}

#bottom {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 600px;
    z-index: -1;
    background-image: url('img/background/layer-3-ground.png'), url('img/background/layer-2-mountain.png'), url('img/background/layer-1-sky-2.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

/* Header */

header {
	width: inherit;
	height: 470px;
}

#errorname {
	padding-top: 80px;
	background-color: #d9d9d9;
	box-shadow: 0px 10px 5px #888888;
	position: relative;
	/*left: -10px;*/
	top: -10px;
	padding-bottom: 40px;
	height: 350px;
}

#errorname h1 {
	font-size: 15em;
	font-weight: normal;
	font-family: 'Abel', sans-serif;
}

#errorname .also {
	font-size: 2em;
}

#cursor {
	font-family: 'Special Elite', cursive;
}


#cursor a {
	color: black;
	text-decoration: none;
}

#cursor a:hover {
	text-decoration: underline;
}

#errorname_top_container {
	position: fixed;
	top: 0px;
	margin-left: auto;
	margin-right: auto;
	width: inherit;
}

#errorname_top {
	height: 70px;
	width: inherit;
	background-color: #d9d9d9;
	/*margin-left: -10px;*/
	margin-top: -10px;
	box-shadow: 0px 10px 5px #888888;
	display: none;
}

#errorname_top h1 {
	float: left;
	padding-top: 15px;
	padding-left: 30px;
}

#errorname_top .also {
	position: absolute;
	padding-top: 28px;
	margin-left: -80px;
}

#errorname_top .to_the_top {
	float: right;
	padding-top: 29px;
	padding-right: 30px;
}

#errorname_top .to_the_top a {
	color: black;
	text-decoration: none;
}

#errorname_top .to_the_top a:hover {
	font-weight: bold;
}

/* main */

main {
	text-align: justify;
	padding-top: 50px;
}

section {
}

section h1 {
	list-style-type: square;
	font-size: 32px;
	margin-bottom: 15px;
}

main.article {
	padding-left: 40px;
	padding-top: 20px;
	padding-right: 40px;
	padding-bottom: 20px;
}

main.article h1 {
	text-align: center;
	text-decoration: underline;
}

main.article h2 {
	color: DodgerBlue;
	padding-top: 20px;
	padding-bottom: 10px;
}

main.article p {
	text-indent: 50px;
	font-size: 19px;
	padding-bottom: 20px;
}

main.article li {
	font-size: 19px;
}

main.article figure {
	text-align: center;
}

main.article figure img {
	width: auto;
	height: auto;
}

main.article figure figcaption {
	font-style: italic;
	color: grey;
}


/* who */

.who {
	width: 970px;
	float: left;
	margin-bottom: 10px;
	margin-left: 15px;
	margin-right: 15px;
}

.who .infos .left {
	padding-right: 20px;
}

.who .social .left {
	padding-right: 20px;
}

.who .social a {
	color: black;
	text-decoration: none;
}

.who .social a:hover {
	text-decoration: underline;
}

.who .game {
	float: left;
	width: 100%;
	height: 300px;
	/*border: 1px dashed grey;*/
	margin-top: 20px;
	cursor: pointer;
}

/* what */

article {
	float: left;
	margin-top: 20px;
	border-bottom: 1px dashed grey;
	padding: 10px 10px 10px 10px;
	margin-left: 15px;
	margin-right: 15px;
}

.no-border {
	border: 0px;
}

.last-article {
	margin-bottom: 20px;
}

article h2 {
	font-size: 22px;
	padding-bottom: 5px;
	display: inline-block;
	width: 60%;
}

article h2 a {
	color: DodgerBlue;
}

.what .text {
	width: 70%;
}

.what .type {
	width: 70%;
}

.what p {
	padding: 10px 20px 10px 20px;
	text-indent: 30px;
}

.what img {
	border-radius: 10px 10px 10px 10px;
	padding: 1px;
	margin-top: 15px;
}

.what a:hover img {
	border: 1px solid black;
	padding: 0px;
}

/* Footer */

.pre-footer {
	margin-bottom: 0px;
	border-bottom: 0px;
}

footer {
	background-color: #d9d9d9;
	box-shadow: 0px -5px 5px #888888;
	padding: 5px 10px 5px 10px;
	margin-left: 0px;
	margin-right: 0px;
}

footer .minako img {
	margin: 0;
	padding: 0;
}

/* Typed.js */

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
