html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Product Sans";
	height: 100%;
}

a:hover {
	cursor: pointer;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

header {
	background-color: rgba(255, 126, 0, 0.86);
	height: 100px;
	min-width: 1024px;
}

header .head_wrap {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

header .title {
	margin-left: 50px;
	padding-top: 16px;
	float: left;
}

header .title h3 {
	margin: 0;
	padding: 0;
	color: white;
	font-size: 26px;
	line-height: 28px;
}

header .title a {
	color: white;
	text-decoration: none;
	text-align: left;
}

header .title a:hover {
	text-decoration: underline;
}

header .quote {
	color: white;
	float: left;
	margin-top: 50px;
	font-size: 19px;
	margin-left: 150px;
}

header .cart {
	float: right;
	margin-right: 50px;
	margin-top: 20px;
	color: white;
}

header .cart div {
	padding: 5px;
	margin-top: 3px;
	margin-right: 3px;
	height: 44px;
}

header .cart div:hover {
	margin-top: 0px;
	margin-right: 0px;
	border: 3px solid white;
	border-radius: 15px;
}

header .cart div.active {
	margin-top: 0px;
	margin-right: 0px;
	border: 3px solid white;
	border-radius: 15px;
}

header .cart img {
	width: 44px;
	height: 44px;
	float: left;
}

header .cart h4 {
	float: left;
	padding-left: 14px;
}

#menu {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#menu li {
    display: inline;
    float: left;
}

#menu a {
    display: block;
    width: 190px;
    text-align: center;
    padding: 4px;
    background-color: rgb(255, 196, 83);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

#menu a:hover, #menu a:active {
    background-color: rgba(255, 126, 0, 0.86);
}

#menu .active {
	background-color: rgba(255, 126, 0, 0.86);
}

#content {
	padding-bottom: 60px;
	text-align: center;
}

#content h2 {
	color: #E44D11;
}

#content h3 {
	text-decoration: underline;
	color: #E44D11;
}

#content p {
	text-indent: 30px;
	font-size: 17px;
}

#content a {
	color: rgb(255, 126, 0);
}

#game {
	width: 1024px;
    height: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	/*border: 1px dotted #a7aebe;*/
	border: 2px dotted rgba(255, 126, 0, 0.86);
	background-color: #eee;
}

#the_game_ h3 {
	text-decoration: none;
}

#overview_ div {
	width: 800px;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
}

#documentation_ div {
	width: 800px;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
}

#credits_ div {
	width: 600px;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	line-height: 30px;
}

#shop_ .div {
	width: 800px;
	height: 1850px;
	margin-left: auto;
	margin-right: auto;
}

#shop_ .item {
	width: 398px;
	height: 450px;
	float: left;
	border: 1px dashed grey;
}

#shop_ .item .image {
	margin-top: 20px;
}

#shop_ .item .text {
	padding-top: 20px;
}

#shop_ .item .copyright {
	padding-top: 10px;
}

footer {
	background-color: rgba(255, 126, 0, 0.86);
	height: 30px;
	width: 100%;

	position: absolute;
	bottom: 0px;

	text-align: center;
}

footer div {
	padding-top: 5px;
	color: white;
}

footer div a {
	color: white;
	text-decoration: none;
	border-bottom: solid 1px;
}

footer div a:hover {
	text-decoration: none;
    font-weight: bold;
	border-bottom: solid 3px;
}