.navbar {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06);
  z-index: 1000;
  position: relative;
  background-color: #fff;

  .navbar-items {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 0;
    background-color: #fff;

    .brand {
      color: #333;
      font-size: 24px;
      line-height: 100%;
      margin: 0.7rem 0;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1.1px;
    }

    .menu {
      a {
        padding: 15px 5px;
        color: #aaa;
        font-size: 14px;
        display: inline-block;
        text-decoration: none;

        &.active {
          color: #333;
        }
      }

      a + a {
        margin-left: 15px;
      }
    }

    .menu-button {
      display: none;
      padding: 15px;

      .burger {
        width: 16px;
        height: 17px;

        svg {
          fill: black;
        }
      }

      &.active {
        background-color: #c8c8c8;

        .burger {
          svg {
            fill: white;
          }
        }
      }
    }

    @media screen and (max-width: 375px) {
      .brand {
        padding-left: 10px;
      }

      .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        left: 0;
        top: -67px;
        background-color: white;
        border-bottom: 1px solid #ddd;
        z-index: -1;
        transition: top 600ms ease;

        &.active {
          top: 75px;
        }

        a {
          margin: auto;
        }

        a + a {
          margin: auto;
        }
      }

      .menu-button {
        display: block;
      }
    }
  }
}
